.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.banner {
  width: 100%;
  background-color: #ffcc00;
  color: #333;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.banner h2 {
  margin: 0;
  font-size: 1.5rem;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0 20px;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.main-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.movie-listings {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  width: calc(33.333% - 20px);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.movie-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

.movie-card p {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.movie-card button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.movie-card button:hover {
  background-color: #0056b3;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.search-filter input,
.search-filter select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 325px;
}

.booking-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
}

.booking-modal h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.booking-modal label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.booking-modal input,
.booking-modal select,
.booking-modal button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.booking-modal button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.booking-modal button:last-child {
  background-color: #6c757d;
  cursor: pointer;
}

.booking-modal button:hover {
  background-color: #0056b3;
}

.booking-modal button:last-child:hover {
  background-color: #5a6268;
}
